### IMPORT LIBRARY

In [1]:
import pandas as pd
import numpy as np

### IMPORT DATASET

In [2]:
df = pd.read_csv('customer_behavior.csv')
df.head()

,Customer ID,Gender,Age,City,Membership Type,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level
0,101,Female,29,New York,Gold,1120.20,14,4.6,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.1,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.4,True,42,Unsatisfied
3,104,Male,30,San Francisco,Gold,1480.30,19,4.7,False,12,Satisfied
4,105,Male,27,Miami,Silver,720.40,13,4.0,True,55,Unsatisfied

## 1. Membersihkan Data

### 1.2 Mengecek variabel mana saja yang memiliki missing values

In [3]:
missing_values = df.isnull().sum()

columns_with_missing = [col for col in df.columns if missing_values[col] > 0]

missing_info = pd.DataFrame({'Variabel': columns_with_missing, 'JumlahMissingValues': [missing_values[col] for col in columns_with_missing], 'TipeData':[df[col].dtype for col in columns_with_missing]})

print(missing_info)

             Variabel  JumlahMissingValues TipeData
0  Satisfaction Level                    2   object

### 1.3 Memisahkan variabel dengan tipe data 'kategorik' dan 'numerik'

In [18]:
var_kategorik = []
var_numerik = []

for index, row in missing_info.iterrows():
    if row['TipeData'] == 'object':
        var_kategorik.append(row['Variabel'])
    else:
        var_numerik.append(row['Variabel'])

print("Variabel Kategorik:", var_kategorik)
print("Variabel Numerik:", var_numerik)

Variabel Kategorik: ['MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']
Variabel Numerik: ['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

### 1.4 Mengisi variabel yang kosong dengan mean (untuk variabel numerik) dan modus (untuk variabel kategorik)

In [19]:
mean_values = df[var_numerik].mean()

for i in var_numerik:
    df[i].fillna(mean_values[i], inplace=True)

In [20]:
mode_values = df[var_kategorik].mode()

for kolom in mode_values:
    # Mode imputation
    df[kolom].fillna(df[kolom].mode()[0], inplace=True)

### 1.5 Memastikan bahwa dataframe sudah tidak memiliki missing values

In [21]:
missing_values = df.isnull().sum()

columns_with_missing = [col for col in df.columns if missing_values[col] > 0]

missing_info = pd.DataFrame({'Variabel': columns_with_missing, 'JumlahMissingValues': [missing_values[col] for col in columns_with_missing], 'TipeData':[df[col].dtype for col in columns_with_missing]})

print(missing_info)

Empty DataFrame
Columns: [Variabel, JumlahMissingValues, TipeData]
Index: []

In [22]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [23]:
# linear regression feature importance
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot
# define dataset
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']
# define the model
model = LinearRegression()
# fit the model
model.fit(X, y)
# get importance
importance = model.coef_
# summarize feature importance
for i,v in enumerate(importance):
 print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

ModuleNotFoundError: No module named 'sklearn'

## 2. Transformasi Data

### Transformasi akar kuadrat

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [12]:
import numpy as np
df_transformed1 = np.sqrt(df)

TypeError: loop of ufunc does not support argument 0 of type str which has no callable sqrt method

## 3. Visualisasi Data